<% if notice %>
  <div class="notification is-primary is-light bottom-corner-flash">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="notification is-danger is-light bottom-corner-flash">
    <button class="delete"></button>
    <%= alert %>
  </div>
<% end %>
