<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>le buddy</strong> by PGP Cape Town. le buddy is only available to
      <a href="https://www.lewagon.com">Le Wagon</a> alumni.
    </p>
  </div>
</footer>
