<section class="hero">
  <div class="hero-body has-text-centered has-text-left-mobile">
    <p class="title" test-id="home-page-heading">
      Welcome to <em>le buddy</em>!
    </p>
    <p class="subtitle">
      Buddy Up and tackle your bootcamp challenges again.
    </p>
  </div>
</section>

<section class="section">
  <figure class="image is-16by9 is-fullwidth">
    <%= image_tag "laptops.jpg" %>
  </figure>
</section>
