<div class="banner">
  <div class="banner-overlay"></div>
  <div class="banner-content">
    <h1>Welcome to Le Buddy</h1>
    <p>Connect with fellow alumni to tackle your bootcamp challenges again.</p>
  </div>
</div>
