<section class="content mt-6 mb-6">
  <div class="container is-max-desktop">
    <h1 class="title">Privacy policy</h1>
    <p class="mb-3">
      This policy applies to all information collected or submitted on Le Buddy's
      website and apps on any other devices or platforms.
    </p>

    <h2 class="subtitle mt-5">Information we collect</h2>
    <p class="mb-3">
      New accounts are created via sign-in with Github, through which we collect
      and store your Github username, name, avatar image location on Github's
      servers (though not the image itself), and your email address.

      During the sign up process you optionally have the ability to add a text
      bio, your location (to the level of detail your choose, most people enter
      their city and country), your Le Wagon batch number, and the languages you
      speak.

      You also have the option to add (to be displayed on your profile) links to
      your social accounts on other services, for example, but not limited to,
      Facebook, LinkedIn, X (formerly Twitter), Mastodon, etc.

      We store information about your activity within the app, including but not
      limited to, BuddyUps you post, feedback your provide to other users, feedback
      you provide to us, abuse reports your file and requests to BuddyUps you
      make.

      Lastly we collect anonymous statistics regarding use of the App, for
      example, how many BuddyUps have been created in a certain time period. These
      statistics are not associated with a person/user.
    </p>

    <h2 class="subtitle mt-5">Technical basics</h2>
    <p class="mb-3">
      We use cookies on the website to keep you logged in.
    </p>
    <p class="mb-3">
      We store tokens from Github to link your user account to your
      Github account.
    </p>
    <p class="mb-3">
      Our server software may also store basic technical information, such as
      your IP address, in temporary memory or logs.
    </p>
    <p class="mb-3">
      Our hosting provider will have access to basic technical information passing
      through their services and data stored using their resources.
    </p>

    <h2 class="subtitle mt-5">Information usage</h2>
    <p class="mb-3">
      We use the information we collect to operate and improve our website and
      App.
    </p>
    <p class="mb-3">
      We do not share personal information with outside parties.
    </p>
    <p class="mb-3">
      We may disclose your information in response to subpoenas, court orders, or
      other legal requirements; to exercise our legal rights or defend against
      legal claims; to investigate, prevent, or take action regarding illegal
      activities, suspected fraud or abuse, violations of our policies; or to
      protect our rights and property.
    </p>
    <p class="mb-3">
      In the future, we may sell to, buy, merge, or partner with other businesses.
      In such transactions, user information may be among the transferred assets.
    </p>

    <h2 class="subtitle mt-5">Security</h2>
    <p class="mb-3">
      We implement a variety of security measures to help keep your information
      secure. For instance, all communication with the app and website requires
      HTTPS. Passwords are [hashed](http://en.wikipedia.org/wiki/Cryptographic_hash_function),
      not stored, using industry-standard methods.
    </p>

    <h2 class="subtitle mt-5">Accessing, changing, or deleting information</h2>
    <p class="mb-3">
      You may access or change your information or delete your account from the
      profile page of our App.
    </p>
    <p class="mb-3">
      Deleted information may be kept in backups for up to 90 days. Backups are
      encrypted and are only accessed if needed for disaster recovery.
    </p>
    <p class="mb-3">
      If you delete your account it will remove all personaly identifiable information
      from our system, including:
    </p>
    <ul class="mb-3">
      <li>Name</li>
      <li>Github username</li>
      <li>Avatar information</li>
      <li>Social links</li>
      <li>Languages</li>
      <li>Le Wagon batch number</li>
      <li>Bio</li>
      <li>Location</li>
    </ul>
    <p class="mb-3">
      The following will be retained, but disassociated from you:
    </p>
    <ul class="mb-3">
      <li>Feedback you provided to us</li>
      <li>Feedback you provided to other users</li>
      <li>BuddyUps you created</li>
      <li>Requests you made (regardless of status) to join BuddyUps</li>
    </ul>

    <h2 class="subtitle mt-5">Information for European Union Customers</h2>
    <p class="mb-3">
      By using Le Buddy and providing your information, you authorise us to collect,
      use, and store your information outside of the European Union.
    </p>

    <h2 class="subtitle mt-5">International Transfers of Information</h2>
    <p class="mb-3">
      Information may be processed, stored, and used outside of the country in which
      you are located. Data privacy laws vary across jurisdictions, and different
      laws may be applicable to your data depending on where it is processed,
      stored, or used.
    </p>

    <h2 class="subtitle mt-5">Your consent</h2>
    <p class="mb-3">
      By using our website and applications you consent to this privacy policy.
    </p>
  </div>
</section>
