<section class="content m-6">
  <div class="container is-max-desktop">
    <h1 class="title">Meet the team</h1>
     <p>
      <em>Le Buddy</em> is not just a platform; it's a labor of love, a collaborative masterpiece crafted by the brilliant minds of Le Wagon Cape Town alumni. Each member of our team has poured their heart, soul, and invaluable expertise into making this community a vibrant and supportive space for learners like you. We're excited to introduce you to these incredible architects of knowledge and collaboration. Meet the heroes behind the scenes!
    </p>
  </div>
</section>

<section class="content m-6">
  <div class="container is-max-desktop">

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/113447311?v=4" alt="KIKMAKER profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Kristen Kennedy</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/KIKMAKER">KIKMAKER</a>
                </p>
              </div>
            </div>
            <div class="content">
              Kiki is the product owner and a teacher at Le Wagon. PGP and
              <em>le buddy</em> are her passion projects.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/KIKMAKER"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/53060901?v=4" alt="JessJiggs profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Jess Verheul</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/JessJiggs">JessJiggs</a>
                </p>
              </div>
            </div>
            <div class="content">
              Jess is one of two PMs on the team and helped out with a small amount of FE. A member of batch
              #1177, she now works as Business Analyst at <a href="https://www.loop.co.za">Loop</a>.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/JessJiggs"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/130841358?v=4" alt="hadi-mukhtar profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Hadi Mukhtar</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/hadi-mukhtar">hadi-mukhtar</a>
                </p>
              </div>
            </div>
            <div class="content">
              Hadi is one of two product managers on the team. A member of batch
              #1244.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/hadi-mukhtar"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/91339335?v=4" alt="Jonrw97 profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Jonathan Watkins</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/Jonrw97">Jonrw97</a>
                </p>
              </div>
            </div>
            <div class="content">
              Jonathan completed batch #1177 and contributes as a full stack
              developer to <em>le buddy</em>.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/Jonrw97"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
            <a href="mailto:jonrw97@gmail.com" class="card-footer-item">Email</a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://dewaldreynecke.net/images/profile.jpg" alt="Dewald profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Dewald Reynecke</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/dewaldreynecke">dewaldreynecke</a>
                </p>
              </div>
            </div>
            <div class="content">
              Dewald completed batch #1244 and helps out as a full stack developer.
              Since the bootcamp he is working as a freelance developer making
              apps for small businesses.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://dewaldreynecke.net"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
            <a href="mailto:dewald@reynecke.net" class="card-footer-item">Email</a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/112576299?v=4" alt="benmalan profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Ben Malandrinos</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/benmalan">benmalan</a>
                </p>
              </div>
            </div>
            <div class="content">
              Ben is a graduate of batch #1244 and contributing as a full stack
              developer.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/benmalan"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/130760066?v=4" alt="DaniGama-Git profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Dani Gama</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/DaniGama-Git">DaniGama-Git</a>
                </p>
              </div>
            </div>
            <div class="content">
              Dani is helping with design, UX, and UI on <em>le buddy</em> after
              completing the bootcamp with batch #1244.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/DaniGama-Git"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>

      <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://ca.slack-edge.com/T02NE0241-U05L4N7H91U-cced2c6ed91c-512" alt="ShawnT-slack profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Shawn Thomas</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <%# <a href="https://github.com/tudor887">Shawn Thomas</a> %>
                </p>
              </div>
            </div>
            <div class="content">
              <%# Shawn completed the bootcamp with batch #1787 and designed some very cool pages (which we didn't yet get all the way to styling). %>
            </div>
          </div>
          <footer class="card-footer">
            <%# <a href="https://github.com/tudor887" %>
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>
      <div class="column"></div>
    </div>

<div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <%# <img src="https://ca.slack-edge.com/T02NE0241-U05L579Q0GP-97ae753861dc-512" alt="Hugovl-slack profile photo"> %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Hugo van Lennep</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <%# <a href="https://github.com/tudor887">Hugo van Lennep</a> %>
                </p>
              </div>
            </div>
            <div class="content">
              <%# Hugo completed the bootcamp with batch #1787 and designed some very cool pages (which we didn't yet get all the way to styling). %>
            </div>
          </div>
          <footer class="card-footer">
            <%# <a href="https://github.com/tudor887" %>
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>
      <div class="column"></div>
    </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/79540698?v=4" alt="Michael profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Michael-Bradley Timm</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/michaelbtimm">michaelbtimm</a>
                </p>
              </div>
            </div>
            <div class="content">
              Mike completed batch #1244 and helps out as a full stack developer.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://timmcreative.com"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://avatars.githubusercontent.com/u/111985048?v=4" alt="TanyaJunior profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Tanyaradzwa Chisati</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/TanyaJunior">TanyaJunior</a>
                </p>
              </div>
            </div>
            <div class="content">
              Tanya completed the bootcamp with batch #1244 and contributes as
              front-end developer.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/TanyaJunior"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>
    </div>



    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-fullwidth m-0">
              <img src="https://ca.slack-edge.com/T02NE0241-U0428B3KB0A-1027a59d8cad-512" alt="tudor887 profile photo">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Tudor Ojica</p>
                <p class="subtitle is-6">
                  <svg height="14" width="14" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                  <a href="https://github.com/tudor887">tudor887</a>
                </p>
              </div>
            </div>
            <div class="content">
              Tudor completed the bootcamp with batch #989 and contributes as
              front-end developer.
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/tudor887"
               target="new"
               class="card-footer-item">
              Visit website
            </a>
          </footer>
        </div>
      </div>
      <div class="column"></div>
    </div>

  </div>
</section>
